<h3 >
  <span [ngClass]="{'text-decoration-line-through': task.done}">
    {{ task.name | uppercase }}
  </span>
  <span [ngClass]="{'text-success': task.done, 'text-danger': !task.done}" [ngStyle]="{'font-size': '0.8em', 'margin-left': '10px'}">
    ({{ task.done ? 'Terminé' : 'À terminer' }})
  </span>
  <i
    [ngClass]="{'fa fa-undo text-danger': task.done, 'fas fa-check-circle text-success': !task.done}"
    (click)="toggleTaskStatus()"
    style="cursor: pointer; margin-left: 10px;"
  ></i>
</h3>
<p *ngIf="task.comment && !task.done">{{ task.comment }}</p>
<p *ngIf="task.cost && !task.done">Coût: {{ task.cost | currency:'EUR':'symbol' }}</p>
