<section *ngIf="(tasks$ | async) as tasks" class="tasks-section">
  <h2 class="tasks-header">Liste des tâches</h2>
  <ul class="tasks-list">
    <li *ngFor="let task of tasks" class="task-item">
      <app-task [task]="task" (statusChange)="onTaskStatusChange($event)" (deleteTask)="onTaskDeleted($event)"></app-task>
    </li>
  </ul>
</section>

<p *ngIf="(tasks$ | async)?.length === 0" class="no-tasks-message">Aucune tâche disponible.</p>

<button (click)="toggleCreateForm()" class="btn btn-primary add-task-button">
  {{ showCreateForm ? 'Annuler' : 'Ajouter une tâche' }}
</button>

<section *ngIf="showCreateForm" class="create-task-section">
  <digi-create-task-form (taskCreated)="onTaskCreated($event)"></digi-create-task-form>
</section>
