<section *ngIf="(tasks$ | async) as tasks">
<h2>Liste des tâches</h2>
  <ul>
    <li *ngFor="let task of tasks">
      <app-task [task]="task" (statusChange)="onTaskStatusChange($event)"></app-task>
    </li>
  </ul>
</section>
<p *ngIf="(tasks$ | async)?.length === 0">Aucune tâche disponible.</p>

<button (click)="toggleCreateForm()" class="btn btn-primary">
  {{ showCreateForm ? 'Annuler' : 'Ajouter une tâche' }}
</button>

<section *ngIf="showCreateForm">
  <digi-create-task-form (taskCreated)="onTaskCreated($event)"></digi-create-task-form>
</section>

